name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 20
      uses: actions/setup-java@v3
      with:
        java-version: '20'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

#    - name: Run Lint
#      run: ./gradlew updateLintBaseline
#
#    - name: Upload lint-baseline.xml
#      uses: actions/upload-artifact@v3
#      with:
#        name: lint-baseline.xml
#        path: ./app/lint-baseline.xml

    - name: Build with Gradle
      run: |
        ./gradlew assembleDebug

    - name: Upload Debug APK
      uses: actions/upload-artifact@v3
      with:
        name: app
        path: ./app/build/outputs/apk/*
